aside h1 {
  font-size: 4rem;
  font-weight: 500;
  line-height: 4.6875rem;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  padding: 1.625rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60rem;
  height: 52rem;
  border: 0.0625rem solid rgba(254, 252, 252, 0.798);
  padding: 0.625rem;
  margin: 0.625rem;
  background-color: rgba(255, 255, 255, 0.982);
  border-radius: 0.625rem;
  box-shadow: 13px 10px 5px -8px rgb(83, 83, 83);
}

main h2 {
  max-width: 43rem;
  font-size: 3.3rem;
  font-weight: 500;
  margin-bottom: 6.25rem;
  text-align: center;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.title-area,
.footer-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.button-area {
  display: flex;
  flex-direction: column;

  align-items: center;

  gap: 2rem;
  margin-bottom: 6.25rem;
}

.button-area a {
  text-align: center;
  max-width: 500px;
}

.link {
  color: black;
  margin-top: 1.625rem;
}
