.tomate {
  color: #dd3a12;
}

.btn {
  border: 0.0625rem solid #fff;
  padding: 0.625rem;
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

.btn-tomate {
  border-color: #ff5678;
  color: #ff5678;
}

.btn-tomate:hover {
  background-color: #ff5678;
  color: white;
}

.btn-greenblue {
  border-color: #37e5e7;
  color: #37e5e7;
  width: 25rem;
}

.btn-greenblue:hover {
  background-color: #37e5e7;
  color: white;
}
